@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
}
.burger-button{
    color: #000;
    outline: none;
    background: transparent;
    border: none;
    font-size: 32px;
    top: 0;
    margin-left: 10px;
    cursor: pointer;
    display: block;
}
.open{
    display: block;
    top: 7px;
    position: fixed;
    z-index: 1000;

}
.close{
    display: inline-block;
    color: #FFF;
    text-align: right;
}
.menu-container{
    height: 100vh;
    background: #141414;
    text-align: justify;
    transition: 0.7s;
    color: #000;
    width: 0;
}
.active{
    width: max(20vw, 150px);
}
.list-element{
    padding: 0.9em;
}
.close-li{
    display: flex;
    justify-content: right;
    padding-right: 10px;
}
.list-element a{
    color: #FFF;
    text-decoration: none;
    font-size: max(2vw, 14px);
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.list-element a:hover{
    font-weight: bold;
    padding-left: 10px;
}
.list-element a:focus{
    font-weight: bold;
    padding-left: 12px;
    border-left: 1px solid white;
}
.close-menu-list{
    display: none;
    font-size: 1px;
}
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: #FFF;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.input-container{
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    padding: 1vh;
    transition: 0.4s;
}
.input-container:hover{
    border-bottom:1px solid #000;
}
.search-box input{
    background: transparent;
    padding: 7px;
    border: none;
    width: 25vw;
    text-align: left;
    outline: none;
}
.clear-input{
    font-size: 20px;
    margin-right: 0.7rem;
    width: 3vw;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
    display: none;
}
.search-mark{
    outline: none;
    font-size: 18px;
    margin-right: 0.7rem;
    cursor: pointer;
    background: transparent;
    border: none;
}
.cards-container{
    display: grid;
    grid-template-columns:  repeat(3, 2fr);
    grid-template-rows:  repeat(3, auto);
    gap: 1vw;
    height: 80vh;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
.card{
    background: #000;
    width: 25vw;
    border-radius: 10px;
    height: 20vh;
    color: #FFF;
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.left-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.bottom{
    display: flex;
}
.bottom p {
    padding: .3em;
    font-weight: bold;
    font-size: 25px;
    top: 10%;
}
.bottom p:nth-child(1){
    font-size: 35px;

}
.bottom p:nth-child(2){
    margin-top: 5%;
}
.bottom p:nth-child(3){
    margin-top: 5%;
}
.flaga{
    position: relative;
    width: 50%;
}
.flaga img{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
    border-radius: 10px;
    opacity: 80%;
    box-shadow: 0 0 2em blue;
}
.cards-container:nth-child(1).flaga img{
    box-shadow: 0 0 2em red;
}
