@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;1,200;1,600;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
}
.burger-button{
    color: #000;
    outline: none;
    background: transparent;
    border: none;
    font-size: 32px;
    top: 0;
    margin-left: 10px;
    cursor: pointer;
    display: block;
}
.open{
    display: block;
    top: 7px;
    position: fixed;
    z-index: 1000;
}
.close{
    display: inline-block;
    color: #FFF;
    text-align: right;
}
.menu-container{
    height: 100vh;
    background: #000;
    text-align: justify;
    transition: 0.7s;
    color: #000;
    width: 0;
}
.active{
    width: max(20vw, 150px);
}
.list-element{
    padding: 0.9em;
}
.close-li{
    display: flex;
    justify-content: right;
    padding-right: 10px;
}
.list-element a{
    color: #FFF;
    text-decoration: none;
    font-size: max(2vw, 14px);
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.list-element a:hover{
    font-weight: bold;
    padding-left: 10px;
}
.list-element a:focus{
    font-weight: bold;
    padding-left: 12px;
    border-left: 1px solid white;
}
.close-menu-list{
    display: none;
}
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: #FFF;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.input-container{
    border-bottom: 1px solid #d1d1d1;
    padding: 1vh;
    transition: 0.4s;
}
.input-container:hover{
    border-bottom:1px solid #000;
}
.search-box input{
    background: transparent;
    padding: 7px;
    border: none;
    width: 20vw;
    text-align: left;
    outline: none;
}
.clear-input{
    font-size: 20px;
    margin-right: 0.7rem;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
    display: none;
}
.search-mark{
    outline: none;
    font-size: 18px;
    margin-right: 0.7rem;
    cursor: pointer;
    background: transparent;
    border: none;
}

